* {
	font-family: helvetica;
	box-sizing: border-box;
}
/* SideMenu component styles */
.SideMenu {
  background-color: #f7f7f7;
  width: 250px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  padding: 20px;
  overflow: auto; /* enable scrolling if content overflows */
}

.SideMenu a {
  display: block;
  padding: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
  border-radius: 5px;
}

.SideMenu a:hover {
  background-color: #ddd;
}

.SideMenu a[disabled] {
  background-color: #aaa;
}

/* Main content styles */
.App {
  display: flex;
  justify-content: space-between;
  margin-left: 250px;
  padding: 20px;
  font-size: 18px;
  line-height: 1.5;
}

@media (max-width: 768px) {
  /* Make the side menu responsive */
  .SideMenu {
    width: 100%;
    height: auto;
    position: relative;
    padding: 10px;
  }

  .App {
    margin-left: 0;
  }
}

.panel {
  width: 48%;
  padding: 20px;
  border: 1px solid #ccc;
}

.left-panel {
  margin-right: 4%;
}

.right-panel {
  margin-left: 4%;
}

.layout-item-module-state {
    border-left: 3px solid #0e90d2;
}

.layout-item-module-effect {
    border-left: 3px solid #8058a5;
}

.layout-item-module-perform {
    border-left: 3px solid #5eb95e;
}

.layout-item-module-util {
    border-left: 3px solid #dd514c;
}
.layout-item-module-state:after {
	content: 'State'
}

.layout-item-module-effect:after {
	content: 'Side Effect'
}

.layout-item-module-perform:after {
	content: 'Performance'
}

.layout-item-module-util:after {
	content: 'Utility'
}

.layout-item-module {
	font-size: 12px;
    color: #4b4b4b;
    display: inline-block;
    line-height: 1;
    padding: 0 .5714em;
	margin-left: 1em;
    text-transform: capitalize
}
